.ui-inputtext {
  border-color: #1ea04c;
}

.formButton {
  margin-left: 8px;
}

::ng-deep body .ui-dropdown {
  border-color: #1ea04c;
}

.formClass {
  border: 1px solid #1ea04c;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.heading {
  text-align: center;
}

.bigButton {
  margin: 8px 0 0 0;
  align-self: stretch;
}

.cardImage {
  max-height: 150px;
}

.card-details {
  border: 1px solid #b3c2ca;
             border-radius: 3px;
             margin: 0.3em;
             text-align: center;
             padding: 2em 0 2.25em 0;
             background: #323232;
}

.mat {
  display: flex;
  flex-direction: row;
  border: 1px solid #b3c2ca;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 350px;
  overflow: scroll;
}

.matCardImage {
  max-height: 120px;
}

::ng-deep .matCard.ui-card{
  margin: 4px;
}

::ng-deep .matCard .ui-card-body {
  padding: 8px;
}

::ng-deep .matCard .ui-card-footer {
  padding-top: 4px;
  text-align: center;
}
