<button type="button" (click) = startGame() *ngIf="!gameOn">Start game</button>

<input [formControl]="myBid" *ngIf="gameOn && !stopBid">
<button type="button" (click) = "submitBid()" *ngIf="gameOn && !stopBid">Bid</button>
<button type="button" (click) = "noChallenge()" *ngIf="gameOn && !stopBid">Pass</button>

<select [formControl]="move" *ngIf="gameOn">
  <option *ngFor="let card of myCards">{{card.value}} of {{card.suite}}</option>
</select>

<select [formControl]="trump" *ngIf="gameOn && !hideTrump">
  <option *ngFor="let suite of suiteArray">{{suite}}</option>
</select>
<button type="submit" (click)="submitTrump()">Select</button>


<form [formGroup]="partnerForm" *ngIf="gameOn && !hideForms">
  <select formControlName="suite">
    <option *ngFor="let suite of suiteArray">{{suite}}</option>
  </select>
  <select formControlName="card">
  <option *ngFor="let cd of cardArray">{{cd.label}}</option>
</select>
<button type="submit" (click)="submitCard()">Select</button>
</form>
