<p-toast position="top-center"></p-toast>
<button type="button" (click) = startGame() *ngIf="!gameOn" pButton label="Start game"></button>

<div *ngIf="gameOn && !disableBid" class = "bidding">
<input [formControl]="myBid" pInputText placeholder="Enter your Bid">
<button type="button" (click) = "submitBid()" pButton label="Bid" class="formButton" [disabled] = "disableBid"></button>
<button type="button" (click) = "noChallenge()" pButton label="Pass" class="ui-button-danger formButton" [disabled] = "disableBid"></button>
</div>

<h3 class="bigScreen" *ngIf="startingTurns">Board</h3>
<div class = "mat" *ngIf="startingTurns">
  <p-card *ngFor = "let mv of mat" styleClass = "matCard">
    <img src="assets/img/card_images/{{mv.move.index}}.png" class = "matCardImage"/>
    <p-footer>
      {{mv.from}}
    </p-footer>
  </p-card>
</div>

<div class = "userActionBar" *ngIf="gameOn">
<div class = "handContainer">
  <h4 class="bigScreen">Hand</h4>
<p-carousel [value]="myCards" [numVisible]="numVisible" [numScroll]="numScroll" [circular]="false" [responsiveOptions]="responsiveOptions" dotsContainerClass = "noDisplay">
    <ng-template let-card pTemplate="item">
        <div class="card-details">
                <div>
                    <img src="assets/img/card_images/{{card.index}}.png" class = "cardImage"/>
                </div>
                    <div>
                        <button pButton type="button" label="Select" (click)="makeMove()" [disabled]="!startingTurns"></button>
                    </div>
        </div>
    </ng-template>
</p-carousel>
</div>
<div class = "message-box">
  <h4 class="bigScreen">Chat</h4>
  <div class = "conversation" #conversation>
  <ul #messageList id = "message-list">
    <li *ngFor = "let message of listOfMessages">
      <div>
        <span><b>{{message.username}}</b> : {{message.message}}</span>
      </div>
    </li>
  </ul>
  </div>
  <div class = "input-bar">
  <textarea class = "input-box" placeholder="Type your message here" style="padding: 4px; flex-grow: 1" [formControl] = "message"></textarea>
  <button type="button" pButton (click) = "postMessage()" label = ">"></button>
</div>
</div>
</div>

<div *ngIf="!hideAllForms" class = "allForms">
  <form [formGroup]="partnerForm" *ngIf="gameOn && !hideCardForms" class = "formClass">
    <h4 class = "heading">Choose Partner card ({{chosenCards + 1}})</h4>
    <div>
    <p-dropdown [options] = "suiteArray" placeholder = "Select suite" formControlName="suite">
    </p-dropdown>
    <p-dropdown [options] = "cardArray" placeholder = "Select Card" formControlName="card">
    </p-dropdown>
  </div>
  <button type="submit" (click)="submitCard()" pButton label="Select" class="bigButton"></button>
  </form>
  <div *ngIf="gameOn && !hideTrump" class = "formClass" id = "trumpForm">
    <h4 class = "heading">Choose Trump</h4>
    <p-dropdown [options] = "suiteArray" placeholder = "Select trump" [formControl]="trump">
    </p-dropdown>
    <button type="submit" (click)="submitTrump()" pButton label="Select" class="bigButton"></button>
  </div>
</div>
