<p-toast position="top-center"></p-toast>
<p-panel header="Create Room" [toggleable]="true" collapsed = "true" class = "roomInput">
  <input type="text" placeholder="Type here" [formControl]="newRoomName" pInputText/>
  <button type="submit" (click)="create()" pButton label="Create"></button>
</p-panel>

<p-panel header="Join Room" [toggleable]="true" collapsed = "true" class = "roomInput">
  <input type="text" placeholder="Type here" [formControl]="existingRoomName" pInputText/>
  <button type="submit" (click)="join()" pButton label="Join"></button>
</p-panel>
